<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<header>

    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/albums/all">All Albums</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
</header>
<hr />
<main>
    <h1>Welcome, {{username}}</h1>
    <h2>IRunes wishes you fan experience</h2>
</main>
<hr />
<footer>
    <p>CopyRight &copy; Sanity Design Studios. All rights reserved.</p>
</footer>
</body>
</html>