<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<header>
    <h1>IRunes</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/albums/all">All Albums</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
</header>
<hr/>
<h1>Create Album</h1>
<hr />
<form action="/albums/create" method="post">
    <div>
        Name <input type="text" name="name"/>
    </div>
    <div>
        Cover <input type="text" name="cover"/>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>
<hr/>
<a href="/albums/all">Back To All</a>
<hr/>
<footer>
    <p>CopyRight &copy; Sanity Design Studios. All rights reserved.</p>
</footer>
</body>
</html>