@using System.Security.Cryptography
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model FDMC.Models.ViewModels.AllCatsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Fluffy Duffy Munchkin Cats</h1>

@if (Model.Cats.Any())
{
    <ul>
        @foreach (Cat cat in Model.Cats)
        {
            <li>
                <a href="/cat/details/@cat.Id">@cat.Name</a>
            </li>
        }
    </ul>
    <hr/>
}
else
{
    <h2>No cats in database. Go add some</h2>
}

<a href="/cat/create" class="btn btn-primary">Create Cat</a>