@using Eventures.Areas.Events.Components

<div class="mt-3 mb-5 text-center">
    <h1 class="text-center">All Events</h1>
    <hr class="hr-2 bg-dark" />
    <div class="container">
        @await Component.InvokeAsync(typeof(EventComponent))
    </div>
</div>


