@model Eventures.Models.ViewModels.LoginViewModel

<div class="mt-3">
    <h1 class="text-center">Login</h1>
    <hr class="bg-secondary half-width"/>
    <form asp-action="Login" class="mx-auto half-width" method="post">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" placeholder="Username...">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" placeholder="Password...">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <hr class="bg-secondary half-width"/>
        <div class="form-group text-center">
            <input asp-for="RememberMe" type="checkbox">
            <label asp-for="RememberMe"></label>
        </div>
        <hr class="bg-secondary half-width"/>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn bg-color">Login</button>
        </div>
    </form>
    
    <div class="text-center">
        <a href="/" class="nav-link text-primary">Forget your password?</a>
        <a asp-action="Register" class="nav-link text-primary">Register as new user</a>
    </div>
</div>