<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<header>
    <h1>Login</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
    </ul>
</header>
<hr/>
<main>
    <form action="/users/login" method="post">
        <div>
            Username/Email <input type="text" name="username" />
        </div>
        <div>
            Password <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</main>
<hr/>
<footer>
    <p>CopyRight &copy; Sanity Design Studios. All rights reserved.</p>
</footer>
</body>
</html>