<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes - best site</title>
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="site.css" rel="stylesheet" type="text/css"/>
</head>
<body class="text-white">
    <header>
        @RenderNavigationBar
    </header>
<hr class="bg-success"/>
    <main>@RenderBody()</main>
    <hr class="bg-success my-top-4"/>
    <footer>
        <p class="text-center text-dark">CopyRight &copy; Sanity Design Studios. All rights reserved.</p>
    </footer>
    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="popper.min.js" type="text/javascript"></script>
    <script src="bootstrap.min.js" type="text/javascript"></script>
</body>
</html>